@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#root {
    width: 100%;
    height: 100%;
}

.full {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 2vh 2vw;
    box-sizing: border-box;
}

h1 {
    margin: 2vh 0 3vh 0;
    font-size: 4vw;
    text-align: center;
}

h4 {
    font-size: 2vw;
    color: rgb(100, 89, 89);
    text-align: center;
    margin: 2vh 0;
}

h2 {
    margin: 2vh 0 3vh 0;
    font-size: 6vw;
    color: rgb(24, 22, 22);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;
}

@media (max-width: 768px) {
    h1 {
        font-size: 5vw;
    }
    
    h4 {
        font-size: 2.5vw;
    }
    
    h2 {
        font-size: 7vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 6vw;
    }
    
    h4 {
        font-size: 3vw;
    }
    
    h2 {
        font-size: 8vw;
    }
}